.pagination {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  &__item {
    flex-basis: 33%;
    text-align: center;

    &--first {
      text-align: left;
    }

    &--last {
      text-align: right;
    }
  }

  &__link {
    @include rhythm-padding(1);
    @include type-scale(xlarge);
    display: block;
    padding-left: rhythm(1);
    padding-right: rhythm(1);
    text-decoration: none;

    &--first {
      padding-left: 0;
    }

    &--last {
      padding-right: 0;
    }
  }
}
